.container{
    background-color: aquamarine;
    border: 5px solid orange;
    padding: 10px;
    gap: 8px;
}
.in-cont-one, 
.in-cont-two .contB-two, 
.in-cont-three .contC-two{
    display: flex;
    flex: 1;
}
.in-cont-one{
    padding: 5px;
    background-color: blueviolet;
    border: 3px solid yellow;
}
.contB-two .contBB-one, .contB-two .contBB-two{
    background-color: burlywood;
    border: 3px solid red;
}
.contA-one, .contA-two, .contA-three{
    background-color: rgb(24, 31, 157);
    height: 100px;
    border: 5px solid whitesmoke;
    flex: 1;
    margin: 5px;
}
.in-cont-two{
    height: 400px;
}
.contB-two{
    padding: 2px;
}
